<% layout('layout/boilerplate.ejs') %>
<% if (currentUser){%>
    <script>
        window.location.href='/c'
    </script>
<%} else {%>
<div class="card mt-4 mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/camping-place-cartoon.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col-md-6 mt-3">
            <div class="container-fluid">
                <h2 class="mb-3 d-flex justify-content-center">Change Password</h2>
            <form action="/resetfp" method="POST" class="validated-form" novalidate>
                <input type="hidden" name="email" value="<%= email %>">
                <div class="mb-3">
                    <label class="form-label" for="password">New Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="New Password"
                        required>
                    <div class="valid-feedback">
                        looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="conpassword">Confirm Password</label>
                    <input class="form-control" type="password" name="conpassword" id="conpassword" placeholder="Confirm new Password"
                        required>
                    <div class="valid-feedback">
                        looks good!
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button class="btn btn-dark">Reset</button>
                </div>
            </form>
            </div>
        </div>
        
    </div>
</div>
<% } %>